<div class="header">
  <div class="container-fluid px-5 d-flex align-items-center h-100 justify-content-between">
    <div class="left-side">
      <ul class="d-flex gap-5">
        <li><a href="#">Virtual Card</a></li>
        <li><a href="#">Agency Account</a></li>
        <li><a href="#">Finance</a></li>
        <li><a href="#">Support</a></li>
      </ul>
    </div>
    <div class="right-side d-flex gap-3">
      <div class="input-with-icon" style="width: 200px;">
        <select class="form-control">
          <option selected disabled>Eran - $337.89</option>
        </select>
        <div class="icon">
          <img src="/assets/icons/Icon-Dropdown.svg" />
        </div>
      </div>
      <button class="btn btn-primary align-items-center d-flex gap-1"> <img src="/assets/icons/white-card.svg" />
        Add New Card</button>
      <img src="assets/icons/notification.svg" />
      <img src="assets/icons/person.svg" />
    </div>
  </div>
</div>
