<div class="container-fluid px-5 pt-5">
  <h6 class="page-heading">My Cards</h6>
  <div class="my-card">
    <div class="row align-items-center">
      <div class="col-2">
        <label class="input-label">Payment Date</label>
        <div class="input-with-icon">
          <input type="date" class="form-control" placeholder="select date range" />
          <div class="icon">
            <img src="/assets/icons/Icon-Calendar.svg" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="input-label">Card</label>
        <div class="input-with-icon">
          <input type="text" class="form-control" placeholder="ID,Last 4 Digits" />
          <div class="icon">
            <img src="/assets/icons/Icon-Search.svg" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="input-label">BIN</label>
        <div class="input-with-icon">
          <select class="form-control">
            <option selected disabled>Bin</option>
          </select>
          <div class="icon">
            <img src="/assets/icons/Icon-Dropdown.svg" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="input-label">Teams</label>
        <div class="input-with-icon">
          <select class="form-control">
            <option selected disabled>All Teams</option>
          </select>
          <div class="icon">
            <img src="/assets/icons/Icon-Dropdown.svg" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="input-label">Status</label>
        <div class="input-with-icon">
          <select class="form-control">
            <option selected disabled>Settled</option>
          </select>
          <div class="icon">
            <img src="/assets/icons/Icon-Dropdown.svg" />
          </div>
        </div>
      </div>
      <div class="col-2 align-self-end">
        <button class="btn btn-primary align-items-center d-flex gap-1"> <img src="/assets/icons/white-search.svg" />
          Search</button>
      </div>
    </div>
    <p class="fliter-text mt-3">Show advance filters</p>
  </div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>
          <div class="d-flex align-items-center justify-content-between">
            ID
            <div class="d-flex flex-column">
              <i class="fa fa-caret-up" (click)="handleOrderBy('id',true)"></i>
              <i class="fa fa-caret-down" (click)="handleOrderBy('id',false)"></i>
            </div>
          </div>
        </th>
        <th>
          <div class="d-flex align-items-center justify-content-between">
            Name
            <div class="d-flex flex-column">
              <i class="fa fa-caret-up" (click)="handleOrderBy('first_name',true)"></i>
              <i class="fa fa-caret-down" (click)="handleOrderBy('first_name',false)"></i>
            </div>
          </div>
        </th>
        <th>
          <div class="d-flex align-items-center justify-content-between">
            Card Number
            <div class="d-flex flex-column">
              <i class="fa fa-caret-up" (click)="handleOrderBy('card_number',true)"></i>
              <i class="fa fa-caret-down" (click)="handleOrderBy('card_number',false)"></i>
            </div>
          </div>
        </th>
        <th>
          <div class="d-flex align-items-center justify-content-between">
            Exp Month
            <div class="d-flex flex-column">
              <i class="fa fa-caret-up" (click)="handleOrderBy('exp_month',true)"></i>
              <i class="fa fa-caret-down" (click)="handleOrderBy('exp_month',false)"></i>
            </div>
          </div>
        </th>
        <th>
          <div class="d-flex align-items-center justify-content-between">
            Exp Year
            <div class="d-flex flex-column">
              <i class="fa fa-caret-up" (click)="handleOrderBy('exp_year',true)"></i>
              <i class="fa fa-caret-down" (click)="handleOrderBy('exp_year',false)"></i>
            </div>
          </div>
        </th>
        <th>
          <div class="d-flex align-items-center justify-content-between">
            CVV
            <div class="d-flex flex-column">
              <i class="fa fa-caret-up" (click)="handleOrderBy('cvv',true)"></i>
              <i class="fa fa-caret-down" (click)="handleOrderBy('cvv',false)"></i>
            </div>
          </div>
        </th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cards | orderBy: sortBy:orderBy">
        <td class="primary-color">{{item.id}}</td>
        <td>{{item.first_name+ ' ' + item.last_name}}</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            {{item.card_number}}
          </span>
        </td>
        <td>{{item.exp_month}}</td>
        <td>{{item.exp_year}}</td>
        <td>{{item.cvv}}</td>
        <td>
          <span class="tag success-bg">{{item.status}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
