<div class="container-fluid px-5 pt-5">
  <h6 class="page-heading">My Cards</h6>
  <div class="my-card">
    <div class="row align-items-center">
      <div class="col-2">
        <label class="input-label">Payment Date</label>
        <div class="input-with-icon">
          <input type="date" class="form-control" placeholder="select date range" />
          <div class="icon">
            <img src="/assets/icons/Icon-Calendar.svg" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="input-label">Card</label>
        <div class="input-with-icon">
          <input type="text" class="form-control" placeholder="ID,Last 4 Digits" />
          <div class="icon">
            <img src="/assets/icons/Icon-Search.svg" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="input-label">BIN</label>
        <div class="input-with-icon">
          <select class="form-control">
            <option selected disabled>Bin</option>
          </select>
          <div class="icon">
            <img src="/assets/icons/Icon-Dropdown.svg" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="input-label">Teams</label>
        <div class="input-with-icon">
          <select class="form-control">
            <option selected disabled>All Teams</option>
          </select>
          <div class="icon">
            <img src="/assets/icons/Icon-Dropdown.svg" />
          </div>
        </div>
      </div>
      <div class="col-2">
        <label class="input-label">Status</label>
        <div class="input-with-icon">
          <select class="form-control">
            <option selected disabled>Settled</option>
          </select>
          <div class="icon">
            <img src="/assets/icons/Icon-Dropdown.svg" />
          </div>
        </div>
      </div>
      <div class="col-2 align-self-end">
        <button class="btn btn-primary align-items-center d-flex gap-1"> <img src="/assets/icons/white-search.svg" />
          Search</button>
      </div>
    </div>
    <p class="fliter-text mt-3">Show advance filters</p>
  </div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tags</th>
        <th>BIN</th>
        <th>Limit</th>
        <th>Spend</th>
        <th>Balance</th>
        <th>Close Date</th>
        <th>Status</th>
        <th>Request</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="primary-color">676776</td>
        <td>Diana Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....0780
          </span>
        </td>
        <td>$900</td>
        <td>$876.78</td>
        <td>$236</td>
        <td>01/25/2029</td>
        <td>
          <span class="tag primary-bg">In porgess</span>
        </td>
        <td> <span class="tag success-bg">New Card</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">54554</td>
        <td>Laydayna Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....9900
          </span>
        </td>
        <td>$5757</td>
        <td>$90.78</td>
        <td>$236</td>
        <td>01/25/2021</td>
        <td>
          <span class="tag danger-bg">blocked</span>
        </td>
        <td> <span class="tag warning-bg">change limit</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">54554</td>
        <td>Laydayna Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....9900
          </span>
        </td>
        <td>$5757</td>
        <td>$90.78</td>
        <td>$236</td>
        <td>01/25/2021</td>
        <td>
          <span class="tag danger-bg">blocked</span>
        </td>
        <td> <span class="tag warning-bg">change limit</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">676776</td>
        <td>Diana Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....0780
          </span>
        </td>
        <td>$900</td>
        <td>$876.78</td>
        <td>$236</td>
        <td>01/25/2029</td>
        <td>
          <span class="tag primary-bg">In porgess</span>
        </td>
        <td> <span class="tag success-bg">New Card</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">54554</td>
        <td>Laydayna Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....9900
          </span>
        </td>
        <td>$5757</td>
        <td>$90.78</td>
        <td>$236</td>
        <td>01/25/2021</td>
        <td>
          <span class="tag danger-bg">blocked</span>
        </td>
        <td> <span class="tag warning-bg">change limit</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">54554</td>
        <td>Laydayna Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....9900
          </span>
        </td>
        <td>$5757</td>
        <td>$90.78</td>
        <td>$236</td>
        <td>01/25/2021</td>
        <td>
          <span class="tag danger-bg">blocked</span>
        </td>
        <td> <span class="tag warning-bg">change limit</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">676776</td>
        <td>Diana Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....0780
          </span>
        </td>
        <td>$900</td>
        <td>$876.78</td>
        <td>$236</td>
        <td>01/25/2029</td>
        <td>
          <span class="tag primary-bg">In porgess</span>
        </td>
        <td> <span class="tag success-bg">New Card</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">54554</td>
        <td>Laydayna Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....9900
          </span>
        </td>
        <td>$5757</td>
        <td>$90.78</td>
        <td>$236</td>
        <td>01/25/2021</td>
        <td>
          <span class="tag danger-bg">blocked</span>
        </td>
        <td> <span class="tag warning-bg">change limit</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">54554</td>
        <td>Laydayna Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....9900
          </span>
        </td>
        <td>$5757</td>
        <td>$90.78</td>
        <td>$236</td>
        <td>01/25/2021</td>
        <td>
          <span class="tag danger-bg">blocked</span>
        </td>
        <td> <span class="tag warning-bg">change limit</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">676776</td>
        <td>Diana Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....0780
          </span>
        </td>
        <td>$900</td>
        <td>$876.78</td>
        <td>$236</td>
        <td>01/25/2029</td>
        <td>
          <span class="tag primary-bg">In porgess</span>
        </td>
        <td> <span class="tag success-bg">New Card</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">54554</td>
        <td>Laydayna Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....9900
          </span>
        </td>
        <td>$5757</td>
        <td>$90.78</td>
        <td>$236</td>
        <td>01/25/2021</td>
        <td>
          <span class="tag danger-bg">blocked</span>
        </td>
        <td> <span class="tag warning-bg">change limit</span>
        </td>
      </tr>
      <tr>
        <td class="primary-color">54554</td>
        <td>Laydayna Russel</td>
        <td>facebook</td>
        <td class="primary-color">
          <span class="d-flex align-items-center gap-2">
            <img src="/assets/icons/visa-card.svg" />
            555990....9900
          </span>
        </td>
        <td>$5757</td>
        <td>$90.78</td>
        <td>$236</td>
        <td>01/25/2021</td>
        <td>
          <span class="tag danger-bg">blocked</span>
        </td>
        <td> <span class="tag warning-bg">change limit</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
