<div class="side-bar">
  <div class="logo">
    <img src="/assets/icons/logo.svg" alt="logo" />
  </div>
  <ul>
    <div class="menu-section">
      <p class="title">Company</p>
      <div>
        <li>
          <a href="#">
            <img src="/assets/icons/Icon-dashboard.svg" />
            Dashboard
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/users-01.svg" />
            Teams
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/user-square.svg" />
            Members
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/credit-card-02.svg" />
            Cards
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/credit-card-check.svg" />
            Payments
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/credit-card-refresh.svg" />
            Refunds
          </a>
        </li>
      </div>
      <hr />
    </div>
    <div class="menu-section">
      <p class="title">Personal</p>
      <div>
        <li>
          <a href="#">
            <img src="/assets/icons/Icon-dashboard.svg" />
            My Dashboard
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/credit-card-02.svg" />
            My Cards
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/credit-card-check.svg" />
            My Payments
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/credit-card-refresh.svg" />
            My Refunds
          </a>
        </li>
      </div>
      <hr />
    </div>
    <div class="menu-section">
      <div>
        <li>
          <a href="#">
            <img src="/assets/icons/Icon-dashboard.svg" />
            Settings
          </a>
        </li>
        <li>
          <a href="#">
            <img src="/assets/icons/credit-card-02.svg" />
            Logout
          </a>
        </li>
      </div>
    </div>

  </ul>
</div>
